// Estilos personalizados para el backend de Odoo
.o_form_view, .o_kanban_view {
    background-color: #f8f9fa !important; // Fondo gris claro de fondo
    
    .o_cell, .o_kanban_record {
        border-radius: 8px !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05) !important; // Sombras suaves como tu imagen
    }
}